# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Ambiente
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
/build
/dist
out/

# Testes
/coverage
*.lcov

# Logs
logs/
*.log

# Node-RED
.node-red/
